<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .audio {
            width: 400px;
            height: 400px;
            background: red;
        }
    </style>
</head>

<body>
    <div class="audio">
        <video controls autoplay
            src="http://ws.stream.qqmusic.qq.com/http://ws.stream.qqmusic.qq.com/C400001cYhAN3UhEp9.m4a?guid=968214594&vkey=CD843DB82AC80D6E0DE404CFA1C6FB3CD5E27FD0C06E23CB6E069CB2AC1B28BD7BB1E702D65AEBB78F3AC08548C7BE7136A912DAF45B1369&uin=0&fromtag=66"></video>
        <video   controls src="https://7v996.com/hls/e869043e890d42b1869f06e2799c0a7e/360kb/hls/index.m3u8">
           
        </video>
    </div>
</body>

</html>

http://aqqmusic.tc.qq.com/amobile.music.tc.qq.com/C400002IiftZ4Mi7O6.m4a?guid=3040275228&vkey=82EC293F1E51EDE7B65522A63E4C7240A107FE5B2009DC1489A02516629AC3D87FD66786F102D922C1F4A05BAFF44E38EE3D725A1A7DDA33&uin=0&fromtag=38